site_name: Jupyverse
site_description: A composable Jupyter server based on FastAPI

theme:
  name: 'material'
  palette:
    - scheme: default
      primary: 'black'
      accent: 'black'
      toggle:
          icon: material/lightbulb-outline
          name: Switch to dark mode
    - scheme: slate
      primary: 'black'
      accent: 'black'
      toggle:
          icon: material/lightbulb
          name: Switch to light mode
  logo: jupyter.svg
  favicon: jupyter.svg
  features:
    - navigation.instant
    - navigation.top
    - navigation.sections
    - search.suggest
    - search.highlight
    - content.code.annotate

nav:
- Overview: index.md
- install.md
- Usage:
  - usage/single_user.md
  - usage/multi_user.md
- Plugins:
  - 'auth': plugins/auth.md
  - 'contents': plugins/contents.md
  - 'frontend': plugins/frontend.md
  - 'lab': plugins/lab.md
  - 'jupyterlab': plugins/jupyterlab.md
  - 'retrolab': plugins/retrolab.md
  - 'nbconvert': plugins/nbconvert.md
  - 'login': plugins/login.md
  - 'kernels': plugins/kernels.md
  - 'terminals': plugins/terminals.md
  - 'yjs': plugins/yjs.md
  - 'resource-usage': plugins/resource_usage.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
