[build-system]
requires = [ "hatchling",]
build-backend = "hatchling.build"

[project]
name = "jupyverse"
version = "0.10.1"
description = "A set of FPS plugins implementing a Jupyter server"
keywords = ["jupyter", "server", "fastapi", "plugins"]
requires-python = ">=3.9"
dependencies = [
    "fps[click,fastapi,anycorn] >=0.4.0,<0.5.0",
    "fps-contents >=0.10.0,<0.11.0",
    "fps-file-id >=0.2.0,<0.3.0",
    "fps-kernel-subprocess >=0.1.0,<0.2.0",
    "fps-kernels >=0.9.0,<0.10.0",
    "fps-terminals >=0.9.0,<0.10.0",
    "fps-nbconvert >=0.9.0,<0.10.0",
    "fps-yjs >=0.10.0,<0.11.0",
    "fps-lab >=0.9.0,<0.10.0",
    "fps-frontend >=0.9.0,<0.10.0",
    "jupyverse-api >=0.10.0,<0.11.0",
    "rich-click >=1.6.1,<2",
    "eval-type-backport; python_version<'3.10'",
]

[[project.authors]]
name = "Jupyter Development Team"
email = "jupyter@googlegroups.com"

[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.license]
text = "BSD 3-Clause License"

[project.urls]
Homepage = "https://jupyter.org"

[project.optional-dependencies]
jupyterlab = ["fps-jupyterlab >=0.9.0,<0.10.0"]
notebook = ["fps-notebook>=0.9.0,<0.10.0"]
auth = ["fps-auth >=0.9.0,<0.10.0", "fps-login >=0.9.0,<0.10.0"]
auth-fief = ["fps-auth-fief >=0.9.0,<0.10.0"]
auth-jupyterhub = ["fps-auth-jupyterhub >=0.9.0,<0.10.0"]
noauth = ["fps-noauth >=0.9.0,<0.10.0"]
test = [
    "ruff >=0.1.2",
    "mypy",
    "types-setuptools",
    "pytest",
    "pytest-rerunfailures",
    "pytest-timeout",
    "pytest-env",
    "httpx",
    "httpx-ws >=0.4.1",
    "requests",
    "ipykernel",
    "ypywidgets >=0.9.3,<0.10.0",
    "ypywidgets-textual >=0.5.0,<0.6.0",
    "trio",
]
docs = [ "mkdocs", "mkdocs-material" ]

[tool.hatch.envs.dev]
# TODO: if/when hatch gets support for defining editable dependencies, the
# pre-install commands here and post-install commands in the matrix can be moved
# to the dependencies section
pre-install-commands = [
  "pip install -e ./jupyverse_api",
  "pip install -e ./plugins/contents",
  "pip install -e ./plugins/file_id",
  "pip install -e ./plugins/frontend",
  "pip install -e ./plugins/kernel_subprocess",
  "pip install -e ./plugins/kernels[watchfiles]",
  "pip install -e ./plugins/lab",
  "pip install -e ./plugins/nbconvert",
  "pip install -e ./plugins/terminals",
  "pip install -e ./plugins/yjs",
  "pip install -e ./plugins/resource_usage",
  "pip install -e ./plugins/webdav[test]",
]
features = ["test"]

[tool.hatch.envs.dev.overrides]
matrix.frontend.post-install-commands = [
  { value = "pip install -e ./plugins/jupyterlab", if = ["jupyterlab"]},
  { value = "pip install -e ./plugins/notebook", if = ["notebook"]},
]

matrix.frontend.scripts = [
  { key = "typecheck1", value = "typecheck0 ./plugins/jupyterlab", if = ["jupyterlab"] },
  { key = "typecheck1", value = "typecheck0 ./plugins/notebook", if = ["notebook"] },
]
matrix.auth.post-install-commands = [
  { value = "pip install -e ./plugins/noauth", if = ["noauth"] },
  { value = "pip install -e ./plugins/auth -e ./plugins/login", if = ["auth"] },
  { value = "pip install -e ./plugins/auth_fief", if = ["auth_fief"] },
  { value = "pip install -e ./plugins/auth_jupyterhub", if = ["auth_jupyterhub"] },
]

matrix.auth.scripts = [
  { key = "typecheck", value = "typecheck1 ./plugins/noauth", if = ["noauth"] },
  { key = "typecheck", value = "typecheck1 ./plugins/auth ./plugins/login", if = ["auth"] },
  { key = "typecheck", value = "typecheck1 ./plugins/auth_fief", if = ["auth_fief"] },
  { key = "typecheck", value = "typecheck1 ./plugins/auth_jupyterhub", if = ["auth_jupyterhub"] },
]

[[tool.hatch.envs.dev.matrix]]
frontend = ["jupyterlab", "notebook"]
auth = ["noauth", "auth", "auth_fief", "auth_jupyterhub"]

[tool.hatch.envs.dev.scripts]
test = "pytest ./tests plugins/webdav/tests -v --reruns 5 --timeout=60 --color=yes"
lint = [
  "ruff format jupyverse jupyverse_api notebooks plugins tests",
  "ruff check jupyverse jupyverse_api notebooks plugins tests --fix",
]
typecheck0 = """mypy --no-incremental \
./jupyverse_api \
./plugins/contents \
./plugins/file_id \
./plugins/frontend \
./plugins/kernel_subprocess \
./plugins/kernels \
./plugins/lab \
./plugins/nbconvert \
./plugins/terminals \
./plugins/yjs \
./plugins/resource_usage \
./plugins/webdav \
"""

[tool.hatch.envs.docs]
features = ["docs"]

[tool.hatch.envs.docs.scripts]
build = "mkdocs build --clean --strict"
serve = "mkdocs serve --dev-addr localhost:8000"

[tool.check-manifest]
ignore = [ ".*",]

[tool.ruff.lint]
select = [
  # pycodestyle
  "E",
  # Pyflakes
  "F",
  # pyupgrade
  "UP",
  # flake8-bugbear
  # "B",
  # flake8-simplify
  # "SIM",
  # isort
  "I",
]

[tool.ruff]
line-length = 100
exclude = ["binder"]

[tool.hatch.version]
path = "jupyverse/__init__.py"

[tool.uv.workspace]
members = ["plugins/*", "jupyverse_api"]

[tool.uv.sources]
jupyverse-api = { workspace = true }
fps-auth = { workspace = true }
fps-auth-fief = { workspace = true }
fps-auth-jupyterhub = { workspace = true }
fps-contents = { workspace = true }
fps-file_id = { workspace = true }
fps-frontend = { workspace = true }
fps-jupyterlab = { workspace = true }
fps-kernel-subprocess = { workspace = true }
fps-kernels = { workspace = true }
fps-lab = { workspace = true }
fps-login = { workspace = true }
fps-nbconvert = { workspace = true }
fps-noauth = { workspace = true }
fps-notebook = { workspace = true }
fps-resource-usage = { workspace = true }
fps-terminals = { workspace = true }
fps-webdav = { workspace = true }
fps-yjs = { workspace = true }
