.
./plugins/auth
./plugins/contents
./plugins/jupyterlab
./plugins/kernels
./plugins/lab
./plugins/nbconvert
./plugins/yjs
fps[unicorn]
ipykernel
jupyter_ydoc >=0.1.16<0.2.0
mypy
pytest
pytest-asyncio
requests
y-py >=0.5.4
