.
./plugins/auth
./plugins/contents
./plugins/jupyterlab
./plugins/kernels
./plugins/jupyterlab
./plugins/login
./plugins/terminals
./plugins/nbconvert
./plugins/yjs
fps[unicorn] >=0.0.10
mypy
pytest
pytest-asyncio
