name: Check Release
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

permissions:
  contents: write

jobs:
  check_release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        group: [check_release]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
          architecture: "x64"
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"
      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"
      - name: Cache pip
        uses: actions/cache@v1
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('setup.cfg') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-pip-
      - name: Upgrade packaging dependencies
        run: |
          pip install --upgrade pip setuptools wheel --user
      - name: Install Dependencies
        run: |
          pip install -e . --no-deps
          pip install -e jupyverse_api
          pip install -e plugins/frontend
          pip install -e plugins/jupyterlab
          pip install -e plugins/retrolab
          pip install -e plugins/contents
          pip install -e plugins/kernels
          pip install -e plugins/terminals
          pip install -e plugins/nbconvert
          pip install -e plugins/yjs
          pip install -e plugins/auth
          pip install -e plugins/noauth
          pip install -e plugins/auth_fief
          pip install -e plugins/login
      - name: Check Release
        if: ${{ matrix.group == 'check_release' }}
        uses: jupyter-server/jupyter_releaser/.github/actions/check-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
