name: Publish

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+.post[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+[a-b][0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+rc[0-9]+"

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    environment:
      name: release
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - run: uv build --all-packages
      - run: |
          for filename in dist/*; do
            uv publish "$filename"
          done

  github-release:
      name: Create GitHub release
      needs: pypi-publish
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
      - uses: actions/checkout@v5
      - id: changelog
        uses: agronholm/release-notes@v1
        with:
          path: CHANGELOG.md
          version_pattern: ^\#\# ([0-9][^*]*)\n
      - uses: ncipollo/release-action@v1
        with:
          body: ${{ steps.changelog.outputs.changelog }}
