name: test

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  types:
    name: Check types and lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: "true"
      - name: Install jupyverse and plugins
        run: |
          uv venv --clear
          uv pip install -e ".[jupyterlab,notebook,collaboration,auth,auth-fief,auth-jupyterhub,noauth,file-watcher-poll,kernel-web-worker,resource-usage,webdav]" --group test
      - name: Check types
        run: |
          uv run mypy \
            ./jupyverse_api \
            ./plugins/contents \
            ./plugins/file_id \
            ./plugins/file_watcher \
            ./plugins/file_watcher_poll \
            ./plugins/frontend \
            ./plugins/kernel_subprocess \
            ./plugins/kernel_web_worker \
            ./plugins/kernels \
            ./plugins/lab \
            ./plugins/nbconvert \
            ./plugins/terminals \
            ./plugins/yjs \
            ./plugins/yrooms \
            ./plugins/ystore_sqlite \
            ./plugins/resource_usage \
            ./plugins/webdav \
            ./plugins/noauth \
            ./plugins/auth \
            ./plugins/auth_fief \
            ./plugins/auth_jupyterhub \
            ./plugins/jupyter_server \
            ./plugins/jupyterlab \
            ./plugins/jupyterlab_git \
            ./plugins/jupyterlab_lsp \
            ./plugins/notebook
      - name: Lint
        run: |
          uv run ruff check src jupyverse_api notebooks plugins tests
          uv run ruff format --check src jupyverse_api notebooks plugins tests

  test:
    name: Run tests
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: "true"
      - name: Install jupyverse and plugins
        run: |
          uv venv --clear
          uv pip install -e ".[jupyterlab,notebook,collaboration,auth,auth-fief,auth-jupyterhub,noauth,file-watcher-poll,kernel-web-worker,resource-usage,webdav]" --group test
      - name: Run tests
        run: uv run pytest -v --timeout=60 --color=yes
